@import '../../assets/css/var.scss';
.main-body{
    background: #F3F5F7;
    padding-bottom: 36px;
    .title{
        height:62px;
        background:#fff;
        box-shadow:0 0 6px 0 rgba(174,174,174,0.14);
        margin: 8px 0;
        line-height: 62px;
        padding-left: 22px;
        color: #26292F;
        font-size: 18px;
    }
    .topic{
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 8px;
            height: 518px;
            list-style-type: none;
            display: flex;
            .topic-l{
                background: #fff;
                height: 100%;
                box-shadow:0 0 6px 0 rgba(174,174,174,0.14);
                width: 382px;
                margin-right: 8px;
                padding: 56px 24px 42px;
                .topic-title{
                    color: $--color-primary;
                    font-size: 30px;
                    margin: 0;
                    font-weight: normal;
                }
                .topic-sub-title{
                    display: inline-block;
                    color: #222222;
                    font-size: 24px;
                    margin: 18px 0 42px;
                }
                .line{
                    width:37px;
                    height:4px;
                    background:$--color-primary;
                    opacity:0.2;
                    border-radius:2px;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 16px;
                    color: #222;
                }
            }
            .topic-r{
                flex: 1;
                display: flex;
                flex-direction: column;
                .top{
                    width: 100%;
                    height: 372px;
                    box-shadow:0 0 6px 0 rgba(174,174,174,0.14);
                    background: #fff;
                    padding: 20px;
                    .echarts{
                        width: 100%;
                        height: 100%;
                    }
                }
                .bottom{
                    margin-top: 8px;
                    width: 100%;
                    flex: 1;
                    background: #fff;
                    padding: 0 46px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-shadow:0 0 6px 0 rgba(174,174,174,0.14);
                    span{
                        display: inline-block;
                        color: #1F2A37;
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

