@import '../../assets/css/var.scss';
.main-body{
    background: #F3F5F7;
    overflow: hidden;
    padding-bottom: 45px;
    .list{
        .row{
            .title{
                width: 100%;
                height: 85px;
                line-height: 88px;
                color: #222;
                font-size: 18px;
                padding: 0 13px;
            }
            .topic{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                    width: 280px;
                    height: 353px;
                    background: #fff;
                    padding: 30px 24px;
                    margin-right: 26px;
                    margin-bottom: 23px;
                    border:1px solid rgba(238, 238, 238, 1);
                    &:hover{
                        box-shadow: 1px 1px 24px 7px #DFE6F8;
                    }
                    &:nth-child(4n + 0){
                        margin-right: 0;
                    }
                    h2{
                        padding: 0;
                        margin: 0;
                        font-size:20px;
                        font-weight:500;
                        color: #222;
                    }
                    .line{
                        width:37px;
                        height:4px;
                        background:rgba(43,96,255,1);
                        opacity:0.2;
                        margin: 25px 0;
                        border-radius:2px;
                    }
                    p{
                        font-size: 14px;
                        color: #666;
                    }
                    .btn{
                        width: 100%;
                        cursor: pointer;
                        margin-top: 30px;
                        height:50px;
                        line-height: 50px;
                        text-align: center;
                        background:rgba(252,252,252,1);
                        border:1px solid rgba(238,238,238,1);
                        border-radius:3px;
                        &:hover{
                            background: $--color-primary;
                            color: #fff;
                            border-color: $--color-primary;
                            box-shadow:0px 4px 8px 0px rgba(50,129,255,0.51);
                        }
                    }
                    &:hover >h2{
                        color: $--color-primary;
                    }
                    &:hover >.btn{
                        background: $--color-primary;
                        color:$--color-default
                    }


                }
            }
        }
    }

}

