#app {
    @import '../../assets/css/var.scss';
    background-color: #F5F7F9;
    .vjs-big-play-button{
        width: 70px!important;
        border-radius:50%;
        border:1px solid transparent; 
        background: rgba(0,0,0,0.45);
    }
    .main-body {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        .left {
            float: left;
            width: 826px;
            padding: 0 21px;
            background-color: #fff;
            .nav {
                height: 62px;
                line-height: 62px;
                display: flex;
                background: #fff;
                align-items: center;
                border-bottom: 3px solid #F5F7F9;
                .lessson {
                    flex: 1;
                    font-size: 18px;
                }
                .nav-act {
                    width: 220px;
                    right: 14px;
                    font-size: 14px;
                    margin: 0;
                    a {
                        margin: 0 14px;
                    }
                    span {
                        display: inline-block;
                        width: 1px;
                        height: 9px;
                        background-color: #969FA9;
                    }
                }
            }
            .navB{
                z-index: 99;
                width: 787px;
                position: fixed;
                top: 100px;
                
            }
            .letf-content {
                .title {
                    color: #333;
                    font-size: 18px;
                    font-weight: normal;
                }
                .html-info {
                    font-size: 16px;
                    line-height: 36px;
                    img {
                        width: 100%;
                    }
                }
            }

        }
        .right {
            float: right;
            width: 366px;
            background-color: #fff;
            p {
                font-size: 18px;
                font-weight: bold;
                margin-left: 26px;
                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #969FA9;
                    margin-left: 6px;
                }
            }
            .accordion {
                border: none;
                .select-course {
                    width: 100%;
                    padding: 0 27px;
                    height: 36px;
                    .el-input__inner {
                        height: 36px;
                        line-height: 36px;
                    }
                    .el-input__icon{
                        line-height: 36px;
                    }
                }
                .now {
                    margin-top: 7px;
                    padding-left: 26px;
                    height: 60px;
                    line-height: 60px;
                    font-size: 18px;
                    font-weight: bold;
                    border-bottom: 1px solid #E5E5E5;
                    border-top: 1px solid #E5E5E5;
                }
            }
        }
    }
}

.el-select-dropdown.el-popper {
    min-width: 312px !important;
}
