#app{
    @import '../../assets/css/var.scss';
    ul{
        list-style: none;
    }
    .container{
        display: flex;

    }
    .main-body{
        padding-top: 20px;
    }
    .left{
        flex:7;
        .header{
            width:830px;
            height:62px;
            position: relative;
            background:rgba(255,255,255,1);
            box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
            display: flex;
            align-items: center;
            padding-left: 22px;
            em{
                position: absolute;
                top: 13px;
                right: 19px;
                font-style: normal;
                padding: 7px 14px;
                background:rgba(255,247,232,1);
                border:1px solid rgba(255,240,211,1);
                border-radius:2px;
                font-style: normal;
                font-size: 18px;
                font-weight: bold;
                color:$--color-attention;
            }
        }
        .content{
            width:829px;
            min-height:562px;
            background:rgba(255,255,255,1);
            box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
            padding:36px 21px 0 25px;
            h1{
                margin: 0;
                display: inline;
                font-size: 18px;
                font-weight:bold;
                color:#222;
            }
            ul{
                display: inline;
                margin-left: 285px;
                li{
                    display: inline;
                    font-size: 14px;
                    color:#222;
                    padding: 0 13px;
                    border-right: 1px solid #222;
                    &:last-child{
                        border:none
                    }
                    a{
                        &:hover{
                            color:$--color-primary;
                        }
                    }
                }
            }
            .question{
                width:784px;
                height:102px;
                margin: 30x;
                background:rgba(245,247,249,1);
                border:1px solid rgba(238, 238, 238, 1);
                padding-top: 20px;
                padding-right: 24px;
                display: flex;
                font-size: 18px;
                transform: translateY(30px);
                font-weight: bold;
                .q_left{
                    flex:1;
                    line-height: 30px;
                    color: $--color-primary;
                }
                .q_right{
                    flex:9;
                    line-height: 30px;
                }
            }
            .answer{
                margin: 58px 26px 0 100px;
                border-left: 1px solid rgba(238, 238, 238, 1);
                font-size: 16px;
                .option{
                    width: 684px;
                    height: 39px;
                    cursor: pointer;
                    padding-left: 20px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    margin: 6px 0;
                    &:hover{
                        background: #F2F8FF;
                    }
                    .option-val{
                        display: inline-block;
                        text-align: center;
                        width:23px;
                        font-size: 15px;
                        height:23px;
                        line-height: 23px;
                        border:1px solid #1B1B1B;
                        border-radius:50%;
                        margin-right: 16px;
                        &.active{
                            background: #2B60FF;
                            color: #fff;
                            border:1px solid #2B60FF;
                        }
                    }
                }
            }
        }
    }
    .right{
        flex:3;
        .header{
            padding-left:20px;
            width:368px;
            height:61px;
            background:rgba(255,255,255,1);
            box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
            line-height: 62px;
            font-size: 18px;
            color:#222;
        }
        ul{
            width:368px;
            height:562px;
            margin: 0;
            background:rgba(255,255,255,1);
            box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
            padding-left:20px;
            font-size: 16px;
            li{
                float: left;
                line-height: 50px;
                width: 50%;
                border-bottom: 1px solid rgba(238, 238, 238, 1);
                span{
                    width: 39px;
                    height: 15px;
                    color: #fff;
                    border-radius: 2px;
                    margin-right: 10px;
                    font-size:12px;
                    padding: 2px 7px;
                }
            }
            .done{
                span{
                    background: $--color-doing;
                }
            }
            .undone{
                span{
                    background: $--color-ending;
                }
            }
        }
        .btn{
            width: 327px;
            height: 50px;
            margin: 30px 20px;
            transform: translateY(-110px)
        }
    }
}
