#app{
    @import '../../assets/css/var.scss';
    .back{
        background: #F5F7F9;
        padding-top: 120px;
        padding-bottom:76px;
    }
    .content{
        background: $--color-default;
        width: 405px;
        height: 524px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 63px;
        h1{
            font-size: 20px;
            color: #222;
        }
        h2{
            width:354px;
            height:1px;
            background:rgba(43,96,255,1);
            opacity:0.2;
            margin-left:26px;
        }
        input{
            width:355px;
            height:48px;
            padding-left: 17px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(229,229,229,1);
            border-radius:4px;
            margin-top: 20px;
            &:focus{
            outline: none;
            border: 1px solid $--color-primary;
            }
        }
        .input1{
            margin-top: 31px;
        }
        .input2{
            margin-top: 34px;
        }
        a{
            position: absolute;
            font-size: 14px;
            color: $--color-primary;
            left:295px;
            top: 176px;
        }
        .button{
            margin-top: 37px;
            width: 355px;
            //height: 48px;
            //color: $--color-default;
            //background: $--color-primary;
        }
    }
}
