/* 改变主题色变量 */
$--border-radius-base: 2px;
$--color-primary: #2B60FF;
$--color-primary-light:#2656E6;
$--color-default: #fff;
$--color-attention:#FF8F2B;
$--color-doing:#31B68F;
$--color-ending:#969FA9;


