#app {
    background: #F3F5F7;
}

.info-content {
    font-size: 18px;
    color: #333;
    padding: 10px;
}

.main-body {
    .index-content {
        margin-top: 10px;
        margin-bottom: 30px;
        background: #fff;
        box-shadow: 0 0 6px 0 rgba(174, 174, 174, 0.14);
        .no-course{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            p{
                font-size: 18px;
                color: #222;
            }
        }
        .top {
            width: 100%;
            height: 62px;
            line-height: 62px;
            padding: 0 20px;
            color: #26292F;
            font-size: 18px;
            border-bottom: 2px solid #F3F5F7;
            span {
                color: #FF8F2B;
                font-size: 16px;
                padding: 8px 10px;
                background: #FFF0D3;
                border-radius: 2px;
            }
        }
        .list {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                padding: 22px;
                width: 100%;
                height: 296px;
                display: flex;
                border-bottom: 2px solid #F3F5F7;
                &:last-child {
                    border-bottom: none;
                }
                img {
                    width: 448px;
                    height: 100%;
                }
                > .li-r {
                    position: relative;
                    flex: 1;
                    margin-left: 20px;

                    h2 {
                        flex: 1;
                        font-weight: normal;
                        color: #222;
                        margin: 10px 0;
                        font-size: 24px;
                    }
                    .info {
                        position: absolute;
                        top: 13px;
                        right: 0;
                        cursor: pointer;
                        width: 64px;
                        height: 24px;

                        .info-block {
                            width: 64px;
                            height: 24px;
                            text-align: right;
                            font-size: 18px;
                            color: #333;
                            &:after {
                                content: '';
                                width: 18px;
                                height: 18px;
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 2px;
                                background-image: url("./img/info.png");
                            }
                        }

                    }
                    .list-btn {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                    .course {
                        margin-top: 20px;
                        font-size: 16px;
                        color: #333;
                        letter-spacing: 2px;
                        span {
                            font-size: 12px;
                            margin: 0 8px;

                        }

                    }
                    .progress {
                        margin-top: 48px;
                        span{
                            font-size: 14px;
                            color: #222;
                        }
                        .val {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}


