#app{
        margin: 0;
        .banner{
                background: #303868;
        }
        .banner,.serviceObj,.serviceCon,.serviceAdv,.willGet,.earth,.startNow{
                width: 100%;
                height: 750px;
        }
        .startNow{
                img{
                        height: 331px;
                        width: auto;
                }
        }
        .contact{
                width: 100%;
                height: 140px;
                background: url('./img/底部.png') no-repeat center center;
        }
}
