#app{
    .wrapper{
        background: #F3F5F7;
        padding-top: 21px;
    }
    @import '../../assets/css/var.scss';
    .content{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        background: #F3F5F7;
        .no-exam{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            p{
                font-size: 18px;
                color: #222;
            }
        }
        .examHeader{
            width:1200px;
            height:62px;
            padding-left: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background:rgba(255,255,255,1);
            border:1px solid rgba(249, 249, 249, 1);
            box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
            div{
                font-size: 18px;
                font-weight: bold;
                padding: 6px 0;
                cursor: pointer;
                &:hover{
                    color:$--color-primary;
                }
            }
            .mid{
                width: 1px;
                height: 9px;
                background: #AEAEAE;
                margin: 0 14px;
            }
            .active{
                color:$--color-primary;
                border-bottom: 2px solid $--color-primary;
            }
            .flag{
                margin-left: 30px;
                color:$--color-attention;
                font-size: 16px;
                border: 1px solid #FFF0D3;
                padding: 7px 12px;
                border-radius: 3px;
                background: #fff7e8;
            }
        }
        .courseList{
            .examList{
                width: 1200px;
                list-style: none;
                margin-top: 24px;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 373px;
                    height: 187px;
                    background:#fff;
                    position: relative;
                    margin-right: 39px;
                    margin-bottom:41px;
                    padding-top: 25px;
                    border:1px solid rgba(249, 249, 249, 1);
                    box-shadow:0 0 6px 0 rgba(174,174,174,0.14);
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:hover{
                        box-shadow: 2px 1px 20px 9px #EAEFFF;
                    }
                    h1{
                        margin: 0;
                        font-size: 24px;
                        color: #222;
                        display: inline-block;
                        max-width: 270px;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        margin-left: 21px;
                    }
                    i{
                        font-style: normal;
                        background: $--color-doing;
                        color:$--color-default;
                        border-radius: 2px;
                        font-size: 14px;
                        display: inline-block;
                        height: 18px;
                        text-align: center;
                        width: 48px;
                        line-height: 18px;
                        position: relative;
                        top: -6px;
                        margin: 0 0 5px 6px;
                    }
                    .end{
                        background:$--color-ending;
                    }
                    h4,h5{
                        font-size: 18px;
                        color:#222;
                        font-weight: normal;
                    }
                    h4{
                        margin:15px 0 0 16px;
                        &:last-child{
                            margin-top:10px;
                        }
                    }
                    h5{
                        height:47px;
                        background:rgba(252,252,252,1);
                        margin-top: 12px;
                        display: flex;
                        position: relative;
                        justify-content: flex-start;
                        align-items: center;
                        em{
                            font-style: normal;
                            line-height: 47px;
                            margin-left: 16px;
                        }
                        .el-button{
                            position: absolute;
                            right: 22px;
                            justify-content: flex-end;
                            height: 32px;
                            padding: 7px 13px;
                        }
                        .not{
                            background-color:$--color-ending;
                            border-color: $--color-ending;
                        }
                    }
                }
                .examEnd{
                    h1,h4,h5{
                        color:$--color-ending
                    }
                    i{
                        color:$--color-default;
                    }
                }

            }
            .examListExtra{
                position: absolute;
                left: 0;
                top: 29px;
            }
        }
    }
}
