#app{
    @import '../../assets/css/var.scss';
    .content{
        width: 1200px;
        margin: 0 auto;
        padding-top: 21px;
        position: relative;
        .examHeader{
            list-style: none;
            width:1200px;
            height:62px;
            padding-left: 3px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(249, 249, 249, 1);
            box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
            li{
                float: left;
                font-size: 18px;
                font-weight: bold;
                padding: 6px 0;
                margin: 15px 16px 0 16px;
                cursor: pointer;
                &:hover{
                    color:$--color-primary;
                }
            }
            .active{
                color:$--color-primary;
                border-bottom: 2px solid $--color-primary;
            }
        }
        .el-icon-arrow-left,.el-icon-arrow-right{
            position: absolute;
            top: 328px;
            width: 44px;
            font-size: 22px;
            height: 44px;
            color:#969FA9;
            border:1px solid #969FA9;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
        }
        .el-icon-arrow-left{
            left:-84px;
        }
        .el-icon-arrow-right{
            right:-69px;
        }
        .el-icon-arrow-left:before {
            content: "\E600";
            display: block;
            margin-top: 12px;
        }
        .el-icon-arrow-right:before {
            content: "\E604";
            display: block;
            margin-top: 12px;
        }
        
        .courseListOne{
            margin-top: 22px;
            h1{
                color:#26292F;
                font-size: 18px;
                display: inline;
            }
            .flag{
                margin-left: 12px;
                color:$--color-attention;
                font-size: 16px;
                font-weight: bold;
                border: 1px solid #FFF0D3;
                padding: 7px 12px;
            }
            .examList{
                width: 1200px;
                height: 100%;
                list-style: none;
                margin-top: 24px;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 373px;
                    height: 187px;
                    position: relative;
                    margin-right: 39px;
                    margin-bottom:41px;
                    padding-top: 25px;
                    border:1px solid rgba(249, 249, 249, 1);
                    box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:hover{
                        box-shadow: 1px 2px 3px 4px #ccc;
                    }
                    h1{
                        font-size: 24px;
                        color: #222;
                        margin:25px 0 0 16px;
                    }
                    i{
                        font-style: normal;
                        background: $--color-doing;
                        color:$--color-default;
                        border-radius: 2px;
                        font-size: 14px;
                        padding: 2;
                        margin: 2px 0 5px 6px;
                    }
                    h4,h5{
                        font-size: 18px;
                        color:#222;
                        font-weight: normal;
                    }
                    h4{
                        margin:20px 0 0 16px;
                        &:last-child{
                            margin-top:10px;
                        }
                    }
                    h5{
                        width:372px;
                        height:47px;
                        background:rgba(252,252,252,1);
                        margin-top: 7px;
                        em{
                            font-style: normal;
                            line-height: 47px;
                            margin-left: 16px;
                        }
                        .el-button{
                            width: 90px;
                            height: 32px;
                            float: right;
                            margin-top: 7px;
                            margin-right: 16px;
                            padding: 0;
                            span{
                                line-height: 32px;
                            }
                        }
                        .not{
                            width: 90px;
                            margin-top: 7px;
                            margin-right: 16px;
                            background-color:$--color-ending;
                            border-color: $--color-ending;
                            padding: 0 12px;
                        }
                    }
                    
                    
                }
                
            }
        }
        .courseListTwo,.courseListThree{
            margin-top: 22px;
            h1{
                color:$--color-ending;
                font-size: 18px;
                display: inline;
            }
            .flag{
                margin-left: 12px;
                color:$--color-attention;
                font-size: 16px;
                font-weight: bold;
                background:rgba(255,247,232,1);
                border: 1px solid #FFF0D3;
                padding: 7px 12px;
            }
            .examList{
                width: 1200px;
                height: 100%;
                list-style: none;
                margin-top: 24px;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 373px;
                    height: 187px;
                    position: relative;
                    margin-right: 39px;
                    margin-bottom:41px;
                    padding-top: 25px;
                    border:1px solid rgba(249, 249, 249, 1);
                    box-shadow:0px 0px 6px 0px rgba(174,174,174,0.14);
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:hover{
                        box-shadow: 1px 2px 3px 4px #ccc;
                    }
                    h1{
                        font-size: 24px;
                        color: $--color-ending;
                        margin:25px 0 0 16px;
                    }
                    i{
                        font-style: normal;
                        background: $--color-ending;
                        color:$--color-default;
                        border-radius: 2px;
                        margin: 2px 0 5px 6px;
                        font-size: 14px;
                        padding: 2;
                    }
                    h4,h5{
                        font-size: 18px;
                        color:$--color-ending;
                        font-weight: normal;
                    }
                    h4{
                        margin:20px 0 0 16px;
                    }
                    h5{
                        width:372px;
                        height:47px;
                        background:rgba(252,252,252,1);
                        margin-top: 7px;
                        em{
                            font-style: normal;
                            line-height: 47px;
                            margin-left: 16px;
                        }
                    }
                    .el-button{
                        width: 90px;
                        height: 32px;
                        float: right;
                        padding: 0;
                        margin-top: 7px;
                        margin-right: 16px;
                        span{
                            line-height: 32px;
                        }
                    }
                    .not{
                        width: 157px;
                        margin-top: 7px;
                        margin-right: 16px;
                        background-color:$--color-ending;
                        border-color: $--color-ending;
                        padding: 0 12px;
                    }
                }
            }
        }
    }
}
