#app{
    @import '../../assets/css/var.scss';
    .box{
        width: 746px;
        height: 684px;
        margin: 0 auto;
        margin-top: 22px;
        margin-bottom: 24px;
        text-align: center;
        h1{
            text-align: center;
            font-size: 24px;
            line-height: 80px;
            font-weight:bold;
            margin-top: 0;
            color:$--color-default;
            background: url(./img/考试通知.png) ;
        }
        .content{
            width: 668px;
            height: 449px;
            margin: 0 auto;
            padding:39px 35px;
            line-height: 30px;
            overflow:auto;
        }
        .btn{
            width: 200px;
            height: 50px;
            margin-top: 46px;
            margin-left: 40px;
        }
    }
}
